/**
 * Drew Bankston Theme - Editor Styles
 */

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #f0f0f5;
    background-color: #111522;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cormorant Garamond', Georgia, serif;
    font-weight: 500;
    line-height: 1.2;
}

a {
    color: #c7b8ff;
}

blockquote {
    border-left: 3px solid #c7b8ff;
    padding-left: 1.5rem;
    margin-left: 0;
    font-style: italic;
}


